@import url(//db.onlinewebfonts.com/c/effd74cbf0d7ec814ef5b5c8b44e0988?family=VeneerW01-Two)

@font-face {
    font-family: "VeneerW01-Two"; 
    src: url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.eot"); 
    src: url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.svg#VeneerW01-Two") format("svg"); }